# Python
__pycache__/
*.pyc

# Environment
.env

# Data & Models
data/
*.pth
*.ckpt

# Outputs
outputs/*
!outputs/sample1.gif
!outputs/sample2.png

# Database
*.db

# Node / frontend
node_modules/

# Misc
.DS_Store